<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/mac.css">
    <script type="text/javascript" src="http://127.0.0.1:8080/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/js/bootstrap.min.js"></script>

    <title>管理员登录</title>
    <style>
        .div_center{
            width: 320px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>

<p/><p/>
<div class="div_center">
    <div class="form-inline">
        <div class="form-group">
            <img src="http://127.0.0.1:8080/3.png">
            <label style="font-size: 20px ;font-weight: bold; font-family: 'Lucida Handwriting'">&nbsp;&nbsp;管理员登录</label>
        </div>
    </div>
    <p></p><form action="http://127.0.0.1:8080/adminloginin" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <p style="font-weight: bold; font-weight: bold;">帐号:</p>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="adminId"  id="adminId" placeholder="请输入名字"><p/>
        </div>
    </div>
    <div class="form-group">
        <p style="font-weight: bold; ">密码:</p>
        <div class="col-sm-10">
            <input width="300px" type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>
</div>
</body>
</html>