<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/mac.css">
    <script type="text/javascript" src="http://127.0.0.1:8080/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/js/bootstrap.min.js"></script>

    <title>修改密码</title>
    <style>
        .div-inline {
            display: inline;
        }
        .div_center {
            width: 320px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }</style>
</head>
<body style="background-color: #bce8f1">
<div class="top_div">
<div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/3.png"></div>
<div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/4.png"></div>
<div class="div-inline">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/" style="font-size: 20px">首页</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/questionhall" style="font-size: 20px">悬赏大厅</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="http://127.0.0.1:8080/shuayishu" th:if="${session.userId!=null}" style="font-size: 20px">刷一刷</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myquestion" th:if="${session.userId!=null}" style="font-size: 20px">我的悬赏</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myanswer" th:if="${session.userId!=null}" style="font-size: 20px">我的回答</a>

    <a  style="float: right"  th:if="${session.userId==null}" href="http://127.0.0.1:8080/register1" >注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="http://127.0.0.1:8080/login" th:if="${session.userId==null}" style="float: right"  >登录&nbsp;&nbsp;</a>
</div>
<!--<a th:if="${session.user != null}" style="float: right"  >我的信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
<ul style="float: right; " th:if="${session.userId!=null}" class="nav nav-tabs">

    <li class="dropdown">
        <a th:if="${session.userId!=null}" th:text="'lv'+${level+'  '}+${session.nickName}" class="dropdown-toggle" data-toggle="dropdown">
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" style="min-width:100%;">
            <li >
                <a href="http://127.0.0.1:8080/message" th:text="'消息'"></a></li>
            <li >
                <a href="http://127.0.0.1:8080/mymessage">我的信息</a></li>
            <li >
                <a href="http://127.0.0.1:8080/changepassword">修改密码</a></li>
            <li >
                <a href="http://127.0.0.1:8080/deposit">充值</a></li>
            <li >
                <a href="http://127.0.0.1:8080/signout">注销</a></li>
        </ul>
    </li>
</ul>
</div>

<div style="margin: 100px auto;width: 320px">
    <p style="font-size: 20px ;font-weight: bold; font-family: 'Lucida Handwriting'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改密码</p>

    <form action="http://127.0.0.1:8080/ccpassword" method="post" onsubmit=" return check()" class="form-horizontal" role="form">
        <div class="form-group">
            &nbsp;&nbsp; <p style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;原始密码：</p>
            <div class="col-sm-10">
                <input type="password"  id="userId" class="form-control" name="oldpassword"  placeholder="请输入原始密码"><p/>
            </div>
        </div>
        <div class="form-group">
            <p style="font-weight: bold; ">&nbsp;&nbsp;&nbsp;&nbsp;密码：</p>
            <div class="col-sm-10">
                <input width="300px" type="password" name="password1" class="form-control" id="password1" placeholder="请输入新密码">
            </div>
        </div>
        <div class="form-group">
            <p style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;确认密码：</p>
            <div class="col-sm-10">
                <input width="300px" type="password" name="password2" class="form-control" id="password2" placeholder="请再次输入新密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="submit" type="submit" class="btn btn-default">修改</button>
            </div>
        </div>
    </form>
</div>
<script>
    function check() {
        var userId = document.getElementById("oldpassword").value;
        var pwd1 = document.getElementById("password1").value;
        var pwd2 = document.getElementById("password2").value;
        var reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
        if(reg.test(userId)){alert("密码不能包含包含汉字！");return false }
        <!-- 对比两次输入的密码 -->
        if(pwd1 == pwd2) {
            return true;
        }
        if(userId==''){
            alert("原密码不正确不能为空");
            return false;
        }
        if(pwd1==''){
            alert("新密码不能为空");
            return false;
        }
        else {
            alert("两次密码不相同，请重新输入后在提交");
            return false;
        }
    }
</script>
</body>
</html>