<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/mac.css">
    <script type="text/javascript" src="http://127.0.0.1:8080/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/js/bootstrap.min.js"></script>

    <style>
        .div-inline{
            display: inline;
        }
        td{text-align: center}
        th{text-align: center}
    </style>
    <title>我的回答</title>
</head>
<body style="background-color: #bce8f1">

<div class="top_div">
    <div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/3.png"></div>
    <div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/4.png"></div>
    <div class="div-inline">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/" style="font-size: 20px">首页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/questionhall" style="font-size: 20px">悬赏大厅</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="http://127.0.0.1:8080/shuayishu" th:if="${session.userId!=null}" style="font-size: 20px">刷一刷</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myquestion" th:if="${session.userId!=null}" style="font-size: 20px">我的悬赏</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myanswer" th:if="${session.userId!=null}" style="font-size: 20px">我的回答</a>

        <a  style="float: right"  th:if="${session.userId==null}" href="http://127.0.0.1:8080/register1" >注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="http://127.0.0.1:8080/login" th:if="${session.userId==null}" style="float: right"  >登录&nbsp;&nbsp;</a>
    </div>
    <!--<a th:if="${session.user != null}" style="float: right"  >我的信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
    <ul style="float: right; " th:if="${session.userId!=null}" class="nav nav-tabs">

        <li class="dropdown">
            <a th:if="${session.userId!=null}" th:text="'lv'+${level+'  '}+${session.nickName}" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="min-width:100%;">
                <li >
                    <a href="http://127.0.0.1:8080/message" th:text="'消息'"></a></li>
                <li >
                    <a href="http://127.0.0.1:8080/mymessage">我的信息</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/changepassword">修改密码</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/deposit">充值</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/signout">注销</a></li>
            </ul>
        </li>
    </ul>

</div>
</div>
<div style="margin: 60px auto;width: 900px">
    <label for="picapptable">图片回答</label>
    <table id="picapptable" th:if="${picAnswers}!=null" class="table table-hover" align="center">
        <thead>
        <tr>
            <!--            <th>#</th>-->
            <th width="150px">主题</th>
            <th width="150px">提问人</th>
            <th width="50px">状态</th>
            <th width="25px">回答时间</th>
            <th width="50px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="picAnswer:${picAnswers}">
            <td th:text="${picAnswer.getSubject()}"></td>
            <td th:text="${picAnswer.getAskUserName()}"></td>
            <td >
                <span class="label label-warning" th:if="${picAnswer.getOk().equals('审核中')}">审核中</span>
                <span class="label label-primary" th:if="${picAnswer.getOk().equals('已审核')}">已审核</span>
                <span class="label label-success" th:if="${picAnswer.getOk().equals('中榜')}" >中榜</span>
                <span class="label label-danger" th:if="${picAnswer.getOk().equals('违规')}">违规</span>
            </td>

            <td th:text="${picAnswer.getAnswerTime()}"></td>

            <td>
                <div class="form-inline">
                    <a class="btn btn-info btn-sm" th:href="'http://127.0.0.1:8080/picanswer?picAnswerId='+${picAnswer.getPicAnswerId()}">查看详情</a>
                    <a class="btn btn-warning btn-sm" onclick="confirmdelete()" th:href="'http://127.0.0.1:8080/deletepicanswer?picAnswerId='+${picAnswer.getPicAnswerId()}">删除</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin: 60px auto;width: 900px">
    <label for="videoanswertable">视频回答</label>
    <table id="videoanswertable" th:if="${videoAnswers}!=null" class="table table-hover" align="center">
        <thead>
        <tr>
            <!--            <th>#</th>-->
            <th width="150px">主题</th>
            <th width="150px">提问人</th>
            <th width="50px">状态</th>
            <th width="25px">回答时间</th>
            <th width="50px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="videoAnswer:${videoAnswers}">
            <td th:text="${videoAnswer.getSubject()}"></td>
            <td th:text="${videoAnswer.getAskUserName()}"></td>
            <td >
                <span class="label label-warning" th:if="${videoAnswer.getOk().equals('审核中')}">审核中</span>
                <span class="label label-primary" th:if="${videoAnswer.getOk().equals('已审核')}">已审核</span>
                <span class="label label-success" th:if="${videoAnswer.getOk().equals('中榜')}" >中榜</span>
                <span class="label label-danger" th:if="${videoAnswer.getOk().equals('违规')}">违规</span>
            </td>

            <td th:text="${videoAnswer.getAnswerTime()}"></td>

            <td>
                <div class="form-inline">
                    <a class="btn btn-info btn-sm" th:href="'http://127.0.0.1:8080/videoanswer?videoAnswerId='+${videoAnswer.getVideoAnswerId()}">查看详情</a>
                    <a class="btn btn-warning btn-sm" onclick="confirmdelete()" th:href="'http://127.0.0.1:8080/deletevideoanswer?videoAnswerId='+${videoAnswer.getVideoAnswerId()}">删除</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript">
    function confirmdelete(){
        if (!confirm("确认要删除？")) {  window.event.returnValue = false;  }
    }
</script>
</body>
</html>