<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/mac.css">
    <script type="text/javascript" src="http://127.0.0.1:8080/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/js/bootstrap.min.js"></script>

    <style>
        .div-inline{
            display: inline;
        }
        td{text-align: center}
        th{text-align: center}
    </style>
    <title>我的提问</title>
</head>
<body>

<div class="top_div">
    <div class="div-inline"><img src="http://127.0.0.1:8080/3.png"></div>
    <div class="div-inline"><img src="http://127.0.0.1:8080/4.png"></div>
    <div class="div-inline">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/" style="font-size: 20px">首页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/questionhall" style="font-size: 20px">提问大厅</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myquestion" th:if="${session.userId!=null}" style="font-size: 20px">我的提问</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myanswer" th:if="${session.userId!=null}" style="font-size: 20px">我的回答</a>

        <a  style="float: right"  th:if="${session.userId==null}" href="http://127.0.0.1:8080/register1" >注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="http://127.0.0.1:8080/login" th:if="${session.userId==null}" style="float: right"  >登录&nbsp;&nbsp;</a>
    </div>
    <!--<a th:if="${session.user != null}" style="float: right"  >我的信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
    <ul style="float: right; " th:if="${session.userId!=null}" class="nav nav-tabs">

        <li class="dropdown">
            <a th:if="${session.userId!=null}" th:text="${'你好，'+session.nickName}" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="min-width:100%;">
                <li >
                    <a href="http://127.0.0.1:8080/mymessage">我的信息</a></li>
                <li >
                    <a href="#">修改密码</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/deposit">充值</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/signout">注销</a></li>
            </ul>
        </li>
    </ul>

</div>
<div style="width: 800px ;margin: 10px auto">
    <div class="btn-group" style="float: right;">
        <button type="button" class="btn btn-default">发起提问</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">切换下拉菜单</span>
        </button>
        <ul class="dropdown-menu" role="menu" style="min-width:100%;">
            <li ><a href="http://127.0.0.1:8080/addpicapppage">图片提问</a></li>
            <li><a href="http://127.0.0.1:8080/addvideoapppage">视频提问</a></li>
        </ul>
    </div>
</div>
<div style="margin: 60px auto;width: 900px">
    <label for="picapptable">我的图片请求</label>
    <table id="picapptable" th:if="${picAnswers}!=null" class="table table-striped table-sm" align="center">
        <thead>
        <tr>
            <!--            <th>#</th>-->
            <th width="150px">主题</th>
            <th width="150px">提问人</th>
            <th width="50px">状态</th>
            <th width="25px">回答时间</th>
            <th width="50px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="picAnswer:${picAnswers}">
            <td th:text="${picAnswer.getSubject()}"></td>
            <td th:text="${picAnswer.getAskUserName()}"></td>
            <td th:text="${picAnswer.getOk()}"></td>

            <td th:text="${picAnswer.getAnswerTime()}"></td>

            <td>
                <div class="form-inline">

                    <button class="btn btn-primary btn-sm" data-toggle="modal" th:href="'#myModalvideo1'+${picAnswer.getPicAnswerId()}" >
                        查看介绍
                    </button>
                    <a class="btn btn-primary btn-sm" th:href="'http://127.0.0.1:8080/picanswer?picAnswerId='+${picAnswer.getPicAnswerId()}">查看详情</a>


                </div>
                <!--                    查看简介-->
                <div class="modal fade" th:id="'myModalvideo1'+${picAnswer.getPicAnswerId()}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel11" aria-hidden="true">
                    <div class="modal-dialog" style="margin: 150px auto;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel11">描述</h4>
                            </div>
                            <div class="modal-body" th:text="${picAnswer.getIntroduce()}"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <!--                                <button type="button" class="btn btn-primary">提交更改</button>-->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

            </td>
            <!--          <td th:if="${not #strings.isEmpty(picapp.getAppSubject())}">-->
            <!--                    <a class="btn btn-sm btn-primary" th:if="${not #strings.isEmpty(picapp.getAppSubject())}" >编辑</a>-->
            <!--            <button  th:if="${not #strings.isEmpty(picapp.getAppSubject())}" class="btn btn-sm btn-danger deleteBtn">删除-->
            <!--            </button>-->
            <!--            </td>-->

        </tr>
        </tbody>
    </table>

</div>
<div style="margin: 60px auto;width: 900px">
    <label for="videoanswertable">我的视频请求</label>
    <table id="videoanswertable" th:if="${videoAnswers}!=null" class="table table-striped table-sm" align="center">
        <thead>
        <tr>
            <!--            <th>#</th>-->
            <th width="150px">主题</th>
            <th width="150px">提问人</th>
            <th width="50px">状态</th>
            <th width="25px">回答时间</th>
            <th width="50px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="videoAnswer:${videoAnswers}">
            <td th:text="${videoAnswer.getSubject()}"></td>
            <td th:text="${videoAnswer.getAskUserName()}"></td>
            <td th:text="${videoAnswer.getOk()}"></td>

            <td th:text="${videoAnswer.getAnswerTime()}"></td>

            <td>
                <div class="form-inline">

                    <button class="btn btn-primary btn-sm" data-toggle="modal" th:href="'#myModalvideo1'+${videoAnswer.getVideoAnswerId()}" >
                        查看介绍
                    </button>
                    <a class="btn btn-primary btn-sm" th:href="'http://127.0.0.1:8080/picanswer?picAnswerId='+${videoAnswer.getVideoAnswerId()}">查看详情</a>


                </div>
                <!--                    查看简介-->
                <div class="modal fade" th:id="'myModalvideo1'+${videoAnswer.getVideoAnswerId()}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
                    <div class="modal-dialog" style="margin: 150px auto;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel12">描述</h4>
                            </div>
                            <div class="modal-body" th:text="${videoAnswer.getIntroduce()}"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <!--<button type="button" class="btn btn-primary">提交更改</button>-->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

            </td>
            <!--          <td th:if="${not #strings.isEmpty(picapp.getAppSubject())}">-->
            <!--                    <a class="btn btn-sm btn-primary" th:if="${not #strings.isEmpty(picapp.getAppSubject())}" >编辑</a>-->
            <!--            <button  th:if="${not #strings.isEmpty(picapp.getAppSubject())}" class="btn btn-sm btn-danger deleteBtn">删除-->
            <!--            </button>-->
            <!--            </td>-->

        </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript">
    function confirmdelete(){
        if (!confirm("确认要删除？")) {  window.event.returnValue = false;  }
    }
</script>
</body>
</html>