<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/mac.css">
    <script type="text/javascript" src="http://127.0.0.1:8080/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/js/bootstrap.min.js"></script>

    <style>
        .div-inline{
            display: inline;
        }
        td{text-align: center}
        th{text-align: center}
    </style>
    <title>我的提问</title>
</head>
<body style="background-color: #bce8f1">

<div class="top_div">
    <div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/3.png"></div>
    <div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/4.png"></div>
    <div class="div-inline">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/" style="font-size: 20px">首页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/questionhall" style="font-size: 20px">悬赏大厅</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="http://127.0.0.1:8080/shuayishu" th:if="${session.userId!=null}" style="font-size: 20px">刷一刷</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myquestion" th:if="${session.userId!=null}" style="font-size: 20px">我的悬赏</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myanswer" th:if="${session.userId!=null}" style="font-size: 20px">我的回答</a>

        <a  style="float: right"  th:if="${session.userId==null}" href="http://127.0.0.1:8080/register1" >注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="http://127.0.0.1:8080/login" th:if="${session.userId==null}" style="float: right"  >登录&nbsp;&nbsp;</a>
    </div>
    <!--<a th:if="${session.user != null}" style="float: right"  >我的信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
    <ul style="float: right; " th:if="${session.userId!=null}" class="nav nav-tabs">

        <li class="dropdown">
            <a th:if="${session.userId!=null}" th:text="'lv'+${level+'  '}+${session.nickName}" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="min-width:100%;">
                <li >
                    <a href="http://127.0.0.1:8080/notice" th:text="'消息'"></a></li>
                <li >
                    <a href="http://127.0.0.1:8080/mymessage">我的信息</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/changepassword">修改密码</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/deposit">充值</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/signout">注销</a></li>
            </ul>
        </li>
    </ul>
    
</div>
<div style="width: 800px ;margin: 10px auto">

<div class="btn-group" style="float: right;">
    <button type="button" class="btn btn-default">发起提问</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">切换下拉菜单</span>
    </button>
    <ul class="dropdown-menu" role="menu" style="min-width:100%;">
        <li ><a href="http://127.0.0.1:8080/addpicapppage">图片提问</a></li>
        <li><a href="http://127.0.0.1:8080/addvideoapppage">视频提问</a></li>
    </ul>
</div>

</div>
<div style="margin: 60px auto;width: 900px">
    <label for="picapptable">图片悬赏</label>
    <table id="picapptable" th:if="${picapps}!=null" class="table table-hover" align="center">
        <thead>
        <tr>
<!--            <th>#</th>-->
            <th width="150px">主题</th>
            <th width="150px">区域</th>
            <th width="50px">是否解决</th>
            <th width="25px">奖金</th>
            <th width="120px">发布时间</th>
            <th width="50px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="picapp:${picapps}">
            <td th:text="${picapp.getAppSubject()}"></td>
            <td th:text="${picapp.getRegion()}"></td>
            <td th:text="${picapp.getSolve()==0?'否':'是'}"></td>

            <td th:text="${picapp.getMoney()}"></td>
            <td th:text="${picapp.getAppTime()}"></td>
            <td>
                <div class="form-inline">
                <a class="btn btn-info btn-sm"  th:href="'http://127.0.0.1:8080/getPicFirstAnswer?picAppId='+${picapp.getAppId()}" th:text="'查看回答('+${picapp.getCount()}+')'">

                </a>
                    <a class="btn btn-warning btn-sm" onclick="confirmdelete()" th:href="@{'http://127.0.0.1:8080/deletepicapp?id='+${picapp.getAppId()}}">删除</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div style="margin: 60px auto;width: 900px">
    <label for="picapptable1">视频悬赏</label>
    <table id="picapptable1" th:if="${videoapps}!=null" class="table table-hover" align="center">
        <thead>
        <tr>
            <!--            <th>#</th>-->
            <th width="150px">主题</th>
            <th width="150px">区域</th>
            <th width="50px">是否解决</th>
            <th width="25px">奖金</th>
            <th width="120px">发布时间</th>
            <th width="50px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="picapp:${videoapps}">
            <td th:text="${picapp.getAppSubject()}"></td>
            <td th:text="${picapp.getRegion()}"></td>
            <td th:text="${picapp.getSolve()==0?'否':'是'}">
                <span class="label label-success" th:if="${picapp.getSolve()==1}">是</span>
                <span class="label label-warning" th:if="${picapp.getSolve()==0}">否</span>
            </td>

            <td th:text="${picapp.getMoney()}"></td>
            <td th:text="${picapp.getAppTime()}"></td>
            <td>
                <div class="form-inline">
                    <a class="btn btn-info btn-sm" th:href="'http://127.0.0.1:8080/getVideoFirstAnswer?videoAppId='+${picapp.getAppId()}" th:text="'查看回答('+${picapp.getCount()}+')'">
                    </a>
                    <a class="btn btn-warning btn-sm" onclick="confirmdelete()" th:href="@{'http://127.0.0.1:8080/deletevideoapp?id='+${picapp.getAppId()}}">删除</a>
                </div>

            </td>
            <!--          <td th:if="${not #strings.isEmpty(picapp.getAppSubject())}">-->
            <!--                    <a class="btn btn-sm btn-primary" th:if="${not #strings.isEmpty(picapp.getAppSubject())}" >编辑</a>-->
            <!--            <button  th:if="${not #strings.isEmpty(picapp.getAppSubject())}" class="btn btn-sm btn-danger deleteBtn">删除-->
            <!--            </button>-->
            <!--            </td>-->

        </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript">
    function confirmdelete(){
        if (!confirm("确认要删除？")) {  window.event.returnValue = false;  }
    }
</script>
</body>
</html>