<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/css/mac.css">
    <script type="text/javascript" src="http://127.0.0.1:8080/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/js/bootstrap.min.js"></script>

    <style>
        .div-inline{
            display: inline;
        }</style>

    <title>视频答案</title>
</head>
<body style="background-color: #bce8f1">

<div class="top_div">
    <div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/3.png"></div>
    <div class="div-inline"><img style="height: 50px" src="http://127.0.0.1:8080/4.png"></div>
    <div class="div-inline">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/" style="font-size: 20px">首页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/questionhall" style="font-size: 20px">悬赏大厅</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <a href="http://127.0.0.1:8080/shuayishu"th:if="${session.userId!=null}" style="font-size: 20px">刷一刷</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myquestion" th:if="${session.userId!=null}" style="font-size: 20px">我的悬赏</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8080/myanswer" th:if="${session.userId!=null}" style="font-size: 20px">我的回答</a>

        <a  style="float: right"  th:if="${session.userId==null}" href="http://127.0.0.1:8080/register1" >注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="http://127.0.0.1:8080/login" th:if="${session.userId==null}" style="float: right"  >登录&nbsp;&nbsp;</a>
    </div>
    <!--<a th:if="${session.user != null}" style="float: right"  >我的信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
    <ul style="float: right; " th:if="${session.userId!=null}" class="nav nav-tabs">

        <li class="dropdown">
            <a th:if="${session.userId!=null}" th:text="'lv'+${level+'  '}+${session.nickName}" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="min-width:100%;">
                <li >
                    <a href="http://127.0.0.1:8080/notice" th:text="'消息'"></a></li>
                <li >
                    <a href="http://127.0.0.1:8080/mymessage">我的信息</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/changepassword">修改密码</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/deposit">充值</a></li>
                <li >
                    <a href="http://127.0.0.1:8080/signout">注销</a></li>
            </ul>
        </li>
    </ul>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答案详情</p>
    <div style="width: 600px;height: 1000px;margin: 0 auto;text-align: center;line-height: 20px">
        <label id="subject" th:text="'地点：'+${videoAnswerInfo.getSubject()}"></label><p></p>
        <label id="introduce" th:text="'悬赏描述：'+${videoAnswerInfo.getIntroduction()}"></label><p></p>
        <label id="askUserId" >提问人：</label><a th:href="' '" th:text="${videoAnswerInfo.getOriginUserName()}"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="answerUserAndAwsome" >回答人：</label><a th:href="' '" th:text="${videoAnswerInfo.getAnswerUserName()}"></a><p></p>
        <div class="form-inline">
            <a class="btn btn-success" th:if="${videoAnswerInfo.getOriginUserId()}eq ${userId}">中标</a>
            <!--            <a class="btn btn-success" th:text="${userId}">中标</a>-->
            <label class="label label-success" th:if="${videoAnswerInfo.getState()=='2'}">最优答案</label>
            <label th:text="'点赞数量：'+${videoAnswerInfo.getAwsome()}"></label>
        </div>
<!--    播放视频-->
    <div style="text-align: center">
    <video controls="controls" autoplay="autoplay" style="width: 600px;margin: 0 auto;">
        <source th:src="${videoAnswerInfo.getVideo()}" type="video/mp4" />
    </video>
    </div>

    <nav aria-label="Page navigation" style="text-align: center" >
        <ul class="pagination" th:each="i:${#numbers.sequence(1,videoAnswerInfo.getSum())}">
            <li th:class="${i==videoAnswerInfo.getCount()?'active':''}" th:id="'img'+${i}"><a  th:text="${i}" th:href="'http://127.0.0.1:8080/vvideoanswer?count='+${i}+'&videoId='+${videoAnswerInfo.getPicAppId()}"></a></li>
        </ul>
    </nav>



        <!--    </div>-->
</div>
</div>

</body>
</html>